
div.highlight {
  margin: 20px 0;
}

#view {
  overflow: auto;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
}

#contents {
  width: 900px;
  height: 600px;
  border: 5px solid #0d4993;
}

#contents img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
  box-shadow: none;
  max-width: none;
}

